<!-- Start bottom -->
  <section id="bottom">
    <div class="container">
      <div class="row">
        <div class="span8 offset2 aligncenter">
          <h4>Subscribe to get the latest updates</h4>
          <p>
          Don't have time for all this shit? Why don't you subscribe to our newsletter and just get your dose once a week on the latest cool products from across the web. Oh and we promise you, that we hate spam as much or more than you do, so we won't be giving your email address to anyone else in case you were wondering.
          </p>
          <form class="subscribeform-inline" action="http://fmhgifts.us7.list-manage.com/subscribe/post?u=271d68db5fcc7d22879bd0b85&amp;id=ba2f4c5c4b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input class="subscribe" id="appendedPrependedInput" type="email" placeholder="Enter your email address" required/>
            <button class="btn btn-large btn-primary" type="submit">GET NOTIFIED</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End bottom -->

<!-- Start footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="footer-social">
            <a href="https://www.facebook.com/fmhgifts" target="_blank"><i class="icon-facebook"></i></a>
            <a href="https://twitter.com/FMHGifts" target="_blank"><i class="icon-twitter"></i></a>
            <a href="https://plus.google.com/b/103992183742117936365/" target="_blank"><i class="icon-google-plus"></i></a>
            <a href="#"><i class="icon-pinterest"></i></a>
          </div>
          <ul class="fotter-nav">
            <li><%= link_to('Home', root_path)%></li>
            <li><%= link_to('About Us', about_path)%></li>
            <li><%= link_to('Submit Product', submit_path)%></li>
            <li><%= link_to('Privacy Policy', privacy_path)%></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="subfooter">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p>2013 &copy; Copyright. All rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer -->
  <%= render "shared/analytics" %>

  <script type="text/javascript">
  //<![CDATA[
    var browser     = navigator.userAgent;
    var browserRegex  = /(Android|BlackBerry|IEMobile|Nokia|iP(ad|hone|od)|Opera M(obi|ini))/;
    var isMobile    = false;
    if(browser.match(browserRegex)) {
      isMobile      = true;
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){
        window.scrollTo(0,1);
      }
    }
  //]]>
  </script>
