<!-- Start bottom -->
  <section id="bottom">
    <div class="container">
      <div class="row">
        <div class="span8 offset2 aligncenter"> 
          <h4>Please subscribe to get news update</h4>
          <p>
          Mazim ornatus dolorum cu ius, eu reque albucius gloriatur duo, id qui reque ullum. Soluta delicata cum ad, ius et honestatis omittantur. Erant probatus mea ne. Pri error impetus instructior cu, congue tantas eum an. Magna aeque intellegebat ei qui, nec te perfecto adipiscing. Per natum option et, cum ut semper volutpat.
          </p>
          <form class="subscribeform-inline">
            <input class="subscribe" id="appendedPrependedInput" type="text" placeholder="Enter your email address" />
            <button class="btn btn-large btn-primary" type="submit">GET NOTIFIED</button>
          </form>             
        </div>
      </div>
    </div>
  </section>  
  <!-- End bottom -->
  
<!-- Start footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="footer-social">
            <a href="#"><i class="icon-facebook"></i></a>
            <a href="#"><i class="icon-twitter"></i></a>
            <a href="#"><i class="icon-google-plus"></i></a>
            <a href="#"><i class="icon-pinterest"></i></a>
          </div>
          <p>
          Vim in idque patrioque, eum et omnes maiorum torquatos. Sale everti sapientem nam ad, vix id congue admodum sensibus, et veri fugit aeque nec. Legere recusabo est ut. Posse ullum eirmod sed in, et oratio voluptua instructior sit. Ei percipit iracundia vel. Corpora pertinax aliquando et sit, adipiscing neglegentur cu mei.
          </p>
          <ul class="fotter-nav">
            <li><%= link_to('Home', root_path)%></li>
            <li><%= link_to('About Us', about_path)%></li>
            <li><%= link_to('Submit Product', submit_path)%></li>
            <li><%= link_to('Privacy Policy', privacy_path)%></li>
            <li><a href="#">Site map</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="subfooter">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p>2013 &copy; Copyright. All rights Reserved.</p>
          </div>
        </div>
      </div>        
    </div>
  </footer> 
  <!-- End footer -->
  <%= render "shared/analytics" %>
  
  <script type="text/javascript">
  //<![CDATA[
    var browser     = navigator.userAgent;
    var browserRegex  = /(Android|BlackBerry|IEMobile|Nokia|iP(ad|hone|od)|Opera M(obi|ini))/;
    var isMobile    = false;
    if(browser.match(browserRegex)) {
      isMobile      = true;
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){
        window.scrollTo(0,1);
      }
    }
  //]]>
  </script>   