<ul class="nav">
  <li><%= link_to('Home', root_path)%></li>
  <% top_level_categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to('About Us', about_path)%></li>
      <li><%= link_to('Submit Product', submit_path)%></li>
      <li><%= link_to('Privacy Policy', privacy_path)%></li>
      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
