<%= render "shared/social_hero" %>
<!-- Start contain -->
  <section id="contain" itemprop="mainContentOfPage">
    <div class="container">
      <div class="row">
      <div class="span3">
        <div class="navaside">
          <h5>Product Categories</h5>
          <ul class="nav">
            <% @top_level_categories.each do |category| %>
              <% if @category.name == category.name %>
                <li class="active"><a href="#"><%= @category.name %></a></li>
                <% category.subcategories.each do |sub_category| %>
                  <li><%= link_to sub_category.name, category_path(sub_category) %></li>
                <% end %>
              <% else %>
                <li><%= link_to category.name, category_path(category) %></li>
                <% category.subcategories.each do |sub_category| %>
                  <% if @category.name == sub_category.name %>
                    <li class="active"><a href="#"><%= sub_category.name %></a></li>
                    <% elsif sub_category.parent_id == @category.parent_id %>
                      <li><%= link_to sub_category.name, category_path(sub_category) %></li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="span9">

        <div class="marginbot35">

          <h3><%= @category.name %></h3>
          <ul itemprop="breadcrumb" class="breadcrumb">
            <li><span class="glyphicon glyphicon-home"></span> <%= link_to "Home", root_path %></li> &gt;
            <% if !@category.parent_category.nil? %>
              <li><%= link_to @category.parent_category.name, category_path(@category.parent_category) %></li> &gt;
            <% end %>
            <li class="active"><%= @category.name %></li>
          </ul>
          <% if user_signed_in? %>
          <p>
            <%= link_to('Delete category', category_path, :method => :delete) %> |
            <%= link_to('Edit category', edit_category_path) %>
          </p>
          <% end %>
          <%= @category.description %>
        </div>
        <div id="filter-bar" class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Sort item by
          <span class="caret"></span>
          </a>
          <ul id="filters" class="dropdown-menu">
            <li><a href="#" data-filter=".all">All items</a></li>
            <li><a href="#" data-filter=".latest">Latest items</a></li>
            <li><a href="#" data-filter=".premium">Expensive items</a></li>
            <li><a href="#" data-filter=".cheap">Cheap items</a></li>
          </ul>
        </div>

        <span class="page-count">
          <%= page_entries_info @products %>
          </span>
        <div class="clearfix"></div>
        <ul id="portfolio" class="row clearfix marginbot10">
          <% @products.each do |product| %>
            <li class="item span3 <%= product.tags %>">
              <div class="image-wrapper">
                <div class="image-caption"></div>
                <div class="image-title">
                  <h4>
                    <%= link_to product.name, [@category, product] %>
                  </h4>
                </div>
                <a href="<%= product.url %>" class="zoom" data-name="<%= product.name %>" data-category="<%= product.category.name %>" target="_blank">zoom</a>

                <%= image_tag product.picture.url(:small) %>
                 

              </div>
            </li>
          <% end %>
        </ul>
        <div class="row">
        <div class="span9">

          <%= will_paginate @products, :page_links => false,
          :renderer => ProductPaginationHelper::LinkRenderer,
          :class => 'pager marginnone' %>

        </div>
      </div>
      </div>

      </div>
    </div>
    <%= render "shared/product_thumbnail_event_tracking" %>
  </section>
  <!-- End contain -->
