<% twitter_cards(title: @product.name, description: @product.description,
                 image: @product.picture.url) %>
<% open_graph_tags(title: @product.name, type: "article",
                   image: @product.picture.url, url: @product.url,
                   description: @product.description) %>
<!-- Start contain -->
  <section id="contain">
    <div class="container">
      <div class="row">
      <div class="span12">
        <div class="boxed-wrapper">
          <ul itemprop="breadcrumb" class="breadcrumb">
            <li><span class="glyphicon glyphicon-home"></span> <%= link_to "Home", root_path %></li> &gt;
            <% if !@category.parent_category.nil? %>
              <li><%= link_to @category.parent_category.name, category_path(@category.parent_category) %></li> &gt;
            <% end %>
            <li><%= link_to @category.name, category_path(@category) %></li>  &gt;
            <li class="active"><%= @product.name %></li>
          </ul>
          <div class="article-wrapper" itemscope itemtype="http://schema.org/Product">
            <article>
            <div class="post-headline">
              <h4 itemprop="name">
                <%= link_to @product.name, @product.url %>
              </h4>
              <% if user_signed_in? %>
                <%= link_to "Delete Product",
                  [@category, @product], :method => :delete,
                  data: { confirm: "Are you sure you want to delete this?" } %>
                 | <%= link_to "Edit Product", [:edit, @category, @product] %>
            <% end %>
            </div>
              <div class="flexslider median-object">
                <%= image_tag( @product.picture.url, { :itemprop => "image" }) %>
              </div>
              <div class="post-contain">
                <div class="fb-like" data-href="<%= canonical_url %>" data-width="450" data-layout="box_count" data-show-faces="false" data-send="false"></div>
                <div class="g-plusone" data-size="tall" data-href="<%= canonical_url %>"  ></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical" data-related="<%= ENV["TWITTER_SITE"] %>" data-via="<%= ENV["TWITTER_CREATOR"] %>" data-url="<%= canonical_url %>">Tweet</a>
                <h4>Description :</h4>
                <p itemprop="description">
                <%= @product.description %>
                </p>
              </div>
            </article>
            <div class="clearfix"></div>
              <div class="comment-head">
                <h4>Leave a Comment</h4>
              </div>
              <div class="comment-wrapper">
                <div id="fb-root"></div>

                <div class="fb-comments" data-href="http://example.com" data-width="840" num_posts="20"></div>
              </div>
          </div>
          <aside>
            <div class="widget">
              <%= link_to "Buy Product", @product.url,
                  :class => "btn btn-large btn-block btn-primary", :id => "buy-button", :target => "_blank" %>
              <p><strong><i class="icon-link"></i> Via :</strong>
                <%= link_to Addressable::URI.parse(@product.url).host, @product.url %>
              </p>

              <% if ENV["GOOGLE_UNIVERSAL_ANALYTICS_ID"].present? %>
                <script type="text/javascript">
                  gaGoalTracking();

                  function gaGoalTracking() {
                      // Set goal using jQuery onclick event.
                      if( window.$ ) {
                          $('#buy-button').on('click', function() {
                            ga('send', 'event', 'thumbnail', 'external click', {
                              'dimension1': '<%= @product.name %>',
                              'dimension2': '<%= @product.category.name %>' });
                          });
                      } else {
                          // wait 50 milliseconds and try again.
                          window.setTimeout( gaGoalTracking, 50 );
                      }
                  }
                </script>
              <% end %>
            </div>
            <div class="widget">
              
              <h4 class="widget-head">Follow Us</h4>
              <iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fzuck&amp;width=450&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;show_faces=true&amp;appId=150522361798975" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:80px;" allowTransparency="true"></iframe>

              <a href="https://twitter.com/mdhoad" class="twitter-follow-button" data-show-count="false">Follow @mdhoad</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

              <div class="g-follow" data-href="https://plus.google.com/103609000063103074517" data-rel="publisher"></div>
            </div>
          </aside>
        </div>
       </div>
      </div>
    </div>
  </section>
  <!-- End contain -->
