<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="http://cdn.fmhgifts.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//apis.google.com">
  <link rel="dns-prefetch" href="//static.ak.facebook.com">
  <meta property="fb:admins" content="<%= ENV["FACEBOOK_APP_ID"] %>">
  <%= display_meta_tags :site => 'Geek Gifts', :reverse => true %>
  <link rel="canonical" href="<%= canonical_url %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/fallback.css" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body itemscope itemtype="http://schema.org/WebPage">

  <%= render 'shared/flash_message' %>
  <%= render "shared/header", :top_level_categories => @top_level_categories %>
  <%= yield %>
  <%= render "shared/footer" %>
  <%= jquery_include_tag Rails.application.config.jquery_version %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= render "shared/facebook_sdk" %>
  <%= render "shared/google_plus_sdk" %>
  </body>
</html>